<%= form_tag(action: :create) do %>
  <div class="field">
    <%= label :book, :isbn %><br />
    <%= text_field :book, :isbn, size: 25 %>
  </div>
  <div class="field">
    <%= label :book, :title %><br />
    <%= text_field :book, :title, size: 25 %>
  </div>
  <div class="field">
    <%= label :book, :price %><br />
    <%= text_field :book, :price, size: 25 %>
  </div>
  <div class="field">
    <%= label :book, :publish %><br />
    <%= text_field :book, :publish, size: 25 %>
  </div>
  <div class="field">
    <%= label :book,  :published %><br />
    <%= text_field :book, :published, size: 25 %>
  </div>
  <div class="field">
    <%= label :book, :cd %><br />
    <%= text_field :book, :cd, size: 25 %>
  </div>
  <div class="actions">
    <%= submit_tag '등록' %>
  </div>
<% end %>
