<table border="1">
  <tr>
    <th>ISBN 코드</th><th>이름</th><th>가격</th>
    <th>출판사</th><th>출간일</th><th>CD</th>
  </tr>
  <% @books.each do |book| %>
  <tr>
    <td><%= (book.isbn) %></td>
    <td><%= (book.title) %></td>
    <td><%= (book.price) %></td>
    <td><%= (book.publish) %></td>
    <td><%= (book.published) %></td>
    <td><%= (book.cd) %></td>
  </tr>
  <% end %>
</table>
<%= will_paginate @books,
  previous_label: '＜이전 페이지', next_label: '다음 페이지＞' %>
