<%= form_for(@fan_comment) do |f| %>
  <% if @fan_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fan_comment.errors.count, "error") %> prohibited this fan_comment from being saved:</h2>

      <ul>
      <% @fan_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author_no %><br>
    <%= f.number_field :author_no %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :deleted %><br>
    <%= f.check_box :deleted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
